{% load static %}
<link rel = "stylesheet" type = "text/css" href = "{% static 'app/style.css' %}" />

<!-- External libs: bootstrap, jquery, bootstrap js-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<body>
	{% include "menu.html" %}

	<div class = "background1">
			<span class = "main_text">Go MAD with MADCAMP</span>
			<br/>
			<span class = "side_text">Build anything you want</span>
	</div>

	<h1 class = "about_header">About the Course</h1>

	<!--About Page  -->
	<div>

		<p class = "about_text">
			Phasellus dignissim justo porta placerat luctus. Vivamus tempus, neque id rutrum faucibus, elit nunc aliquam neque, vitae ultricies nisl eros in diam. Aenean id urna eu orci suscipit tincidunt. Proin non tempus felis, in semper nisi. Donec sodales nisi quis est lobortis aliquet. Maecenas tempus rhoncus nunc. Curabitur quis nibh magna. Morbi quis libero quis orci tempor pulvinar. Duis lectus metus, finibus vitae nisi sit amet, varius ornare urna. Etiam blandit consequat magna, at ultricies tortor commodo non. Duis lorem justo, finibus non nisi eu, tristique euismod augue. Nunc quis felis sit amet metus luctus lacinia.
			<br><br>
			Aliquam varius eu ex eu condimentum. Duis dignissim massa sed nibh pretium imperdiet non ut nulla. Proin dapibus ipsum a eros vulputate aliquam. Etiam vitae nibh molestie, dignissim nunc et, vehicula augue. Praesent aliquam tortor vitae nibh placerat, eget pretium enim congue. Aenean rutrum, massa et tempus ullamcorper, orci enim facilisis sapien, et pellentesque tortor ante rutrum ligula. Nunc accumsan laoreet massa, vel fringilla nibh luctus sed. Sed a mollis enim. Suspendisse et est ac ipsum volutpat pellentesque. Aliquam ex ipsum, tincidunt nec sapien non, maximus venenatis risus. Sed sit amet turpis ac risus ultricies pulvinar. Mauris vehicula consequat aliquam. Proin vitae nisi elementum, feugiat dolor eu, varius enim. Duis egestas metus varius sagittis consequat. Maecenas luctus elit quis lacus tempor, eu facilisis ligula porta. Vivamus consequat tempor vulputate.
			<br><br>
			Aenean ac sodales neque. Proin condimentum egestas nulla, et congue dui dapibus ut. Aliquam porttitor mauris sit amet diam suscipit, ac aliquam massa fermentum. Etiam facilisis semper congue. Donec tincidunt tristique tincidunt. Sed fringilla eros quis lorem maximus posuere. Duis lacinia orci eu lectus euismod tristique. Phasellus commodo suscipit nisl a convallis. Morbi auctor tellus ut facilisis semper. Cras vel metus at turpis pellentesque euismod. Suspendisse tempor justo lobortis purus sodales, quis facilisis sem sagittis. Curabitur neque diam, lacinia in turpis id, scelerisque viverra leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse sodales auctor velit eu faucibus.
		</p>

	</div>
</body>